#wrap{
    min-height: 62.3vh;
}

.container{
    text-align: justify;
    text-justify: inter-word;
}

body{
    background-color: #1C2833 !important;
    color: white !important;
    min-height: 100vh;
    position: relative;
    margin: 0;

}

#ModalLinkToItem .notLink{
    text-decoration: none;
    color: black;
}
#ModalLinkToItem a:hover{
    text-shadow: 1px 1px 3px red;
}

.modal-backdrop {
    position:unset !important;
}
#ModalCard{
    width: 90%;
}

#footer{
    background-color: #F39C12 !important;
    bottom: 0;
}

.navbar{
   background-color: #F39C12 !important;
}

nav a {
    font-family: 'Raleway', sans-serif;
    color: #212121 !important;
}
.container{
    font-family: 'Raleway', sans-serif;
}

/* Képek szerkeszése: */
.kepek{
    width: 100%;
    height: 23vh;
    object-fit: cover; 
}

#mediaPicture{
    max-height: 6.6rem;
    max-width: 6.6rem;
}

.picture{
    width: 100%;
    max-width: 450px;
    height: auto;
}

#cardHeadColor{
    background-color: #1B2631;
}

#cardBodyColor{
    background-color: #85929E;
}

.kartya_hatter{
    background-color: #1976d2 !important;
    
}

#cardBodyText{
    display: table;
    height: 37vh;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}


.cardListHead{
    display: table;
    height: 7vh;
    width: 100%;
    text-align: center;
}

#buttonColor{
   background-color: #5DA9FF; 
}

.titleLink{
    text-decoration: none !important;
    color: #212121;
    display: table-cell;
    vertical-align: middle;
}

.titleLink:hover{
    color: black;
    text-shadow: 1px 2px black;
}

/* Az oldal alján lévő footer szerkesztése: */
/* ÁR SZÍNE */
.priceColor{
    color: #F1C40F;
    text-shadow: 2px 2px #1C2833;
}
.page_footer_list{
    list-style-type: none;
}

.searchCardColor{
    color: #7B7D7D;
}

#itemListCardColor{
    background-color: #D5D8DC;
    color: black;
}

#detailsButtonColor{
    background-color: #00AC0D;
}

.cartButtonColor{
    background-color: #000000 !important;
    color: white !important;
}

/* SIDEBAR */
/* #sidebar{
    
} */

/* AZ INDEX OLDALI ANIMÁLT ÜDVÖZLŐ KÉPERNYŐ */


.intro{
    font-family: sans-serif;
    background: url("../img/background2.jpg") no-repeat center center/cover;
    height: 100vh;
}
.belso{
    font-size: 250%; 
    width: 60vh;
    text-align: center;
    text-shadow: 2px 2px #515A5A;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}



@media screen and (max-width: 768px){
    .belso{
        font-size: 60%; 
        width: 45vh;
        text-align: center;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 1900px){
    .belso{
        font-size: 320%; 
        width: 100vh;
        text-align: center;
        position: absolute;
        top: 19%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 2500px){
    .belso{
        font-size: 320%; 
        width: 100vh;
        text-align: center;
        position: absolute;
        top: 19%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.belso span{         
    text-transform: uppercase;
    display: block;
}
.text1{
    font-size: 1.7em;
    font-weight: 500;
    color: #AEB6BF;
    letter-spacing: 9px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    
}

.text2{
    font-size: 1.7em;
    font-weight: 700;
    color: #AEB6BF;
    margin-bottom: 20px;
    letter-spacing: 10px;
    opacity: 1;
    animation: text1 3s 1;
}
.text3{
    font-size: 1.5em;
    color: #AEB6BF;
    opacity: 1;
    letter-spacing: 10px;
    animation: text2 3s 1 ;
}

@keyframes text{
    0%{
        color: transparent;
        margin-bottom: -25px;
        letter-spacing: 0px;
    }
    30%{
        letter-spacing: 17px;
        margin-bottom: -25px;
    }
    85%{
        letter-spacing: 9px;
        margin-bottom: -25px;
    }
}
@keyframes text1{
    0%{
        color: transparent;
        opacity: 0;
        margin-bottom: -20px;
    }
    25%{
        
        opacity: 0.33;
        margin-bottom: -20px;
    }
    85%{
        opacity: 0.66;
        margin-bottom: -20px;
    }
}
@keyframes text2{
    0%{        
        opacity: 0;
        color: transparent;
    }
    25%{
        opacity: 0.33;
        color: transparent;
    }
    85%{
        opacity: 0.7;
    }
}

